/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 */
/*------------------------------------*\
  #SETTINGS  Global - variables
\*------------------------------------*/
@font-face {
  font-family: myFirstFont,Sans-serif;
  src: url(http://fonts.googleapis.com/css?family=Open+Sans); }
/*------------------------------------*\
  #SETTINGS  Box-sizing
\*------------------------------------*/
* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box;
    height: auto; }

/*------------------------------------*\
  #Insight - HEADER
\*------------------------------------*/
.InsightHeader {
  height: auto;
  background-color: #00bdbd;
  text-align: left;
  padding-top: 19px; }
  .InsightHeader .ProfileHeaderLink {
    color: white;
    font-size: 12px; }
  .InsightHeader .ProfileHeaderString {
    color: white;
    font-size: 25px; }

/*------------------------------------*\
  #Insight - ArticlesCarosuelView
\*------------------------------------*/
.articlesCarosuelView {
  height: auto;
  background: #E1E0E0;
  width: 100%;
  display: inline-block;
  position: relative;
  top: -16px; }
  .articlesCarosuelView p {
    color: #00bdbd;
    font-size: 20px;
    padding: 10px 10%; }

/*------------------------------------*\
  #Insight - ArticlesView
\*------------------------------------*/
.ArticlesView {
  margin-top: 1vh; }
  .ArticlesView ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .ArticlesView ul li {
      display: inline;
      margin: 10px; }
      .ArticlesView ul li a {
        color: grey;
        font-weight: lighter; }
  .ArticlesView .active {
    color: #00bdbd; }

/*------------------------------------*\
  #Insight - Article
\*------------------------------------*/
.Article {
  max-height: 100%;
  margin: 10px 0px; }
  .Article .Article_bfImage {
    widows: 100%;
    margin: 5px; }
    .Article .Article_bfImage .Article_bfImage1 {
      max-width: 290px;
      max-height: 100%; }
    .Article .Article_bfImage .Article_bfImage2 {
      left: 0px;
      height: 20px;
      width: 20px;
      margin: auto; }
  .Article .Article_content {
    margin: auto;
    background-color: white;
    max-width: 300px; }
    .Article .Article_content .Article_Title h6 {
      color: #00bdbd;
      font-weight: lighter;
      padding-bottom: 5px; }
    .Article .Article_content .Article_Title p {
      color: gray;
      font-size: 12px;
      font-weight: lighter; }

.Readmore {
  color: #00bdbd;
  font-weight: lighter;
  padding-bottom: 2px;
  font-size: 12px;
  float: left; }
  .Readmore .left {
    float: left; }
  .Readmore .right {
    float: right; }

.LoadmoreLink {
  color: #00bdbd;
  border: 1px solid #00bdbd;
  margin: auto;
  text-align: center;
  padding: 5px;
  max-width: 300px; }

.Loadmore {
  padding-bottom: 10px; }

.sample {
  width: 500px;
  height: 500px;
  background-color: orange; }

.react-materialize Carousel {
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 500px;
  perspective: 500px; }

.carousel-item {
  display: none;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0; }

/*# sourceMappingURL=style.css.map */
