/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 */


/*------------------------------------*\
  #SETTINGS  Global - variables
\*------------------------------------*/

$coolred    : #222;
$lightred   : rgb(0, 189, 189);
$red        : grey;
$darkred    : white;
$ThemeColor :rgb(0,189,189);
$border: 1px solid #ddd;
$padding: 0.625em;
$label-font-size: 13px;


/*------------------------------------*\
  #SETTINGS  Box-sizing
\*------------------------------------*/


*
{
  box-sizing: border-box;
  &:before, &:after 
  {
    box-sizing: border-box;
  }
}

/*------------------------------------*\
  #PROFILE - HEADER
\*------------------------------------*/


.ProfileHeader
{
  height:85px;
  background-color:$ThemeColor;
  text-align: left;
  padding-top: 9px; 
  font-weight: lighter;
  .ProfileHeaderLink{color: white;font-size: 10px;}
  .ProfileHeaderString{color: white;font-size: 30px;}
}


/*------------------------------------*\
  #PROFILE - SECTION HEADER
\*------------------------------------*/

.section {
  position: relative;
  width: 100%;
  border-bottom: 5px solid $darkred;
  border-left: 2px solid $darkred;  
  border-right: 2px solid $darkred;
  button {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    height: 3em;
    width: 3em;
    outline: 0;
    border: 0;
    background: none;
    text-indent: -9999%;
    pointer-events: none;
    &:before 
    {
      content: '1';
      display: block;
      position: absolute;
      height: 12px;
      width: 1px;
      border-radius: 1em;
      background: $red;
      transform-origin: 50%;
      top: 55%;
      left: 52%;
      transition: all .25s ease-in-out;
      transform: translate(75%, -50%) rotate(45deg);
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 12px;
      width: 1px;
      border-radius: .1em;
      background: $red;
      transform-origin: 50%;
      top: 55%;
      left: 39%;
      transition: all .25s ease-in-out;
      transform: translate(-75%, -50%) rotate(-45deg);
    }
  }
}

.articlewrap {
  height: 0;
  overflow: hidden;
  transition: all 10s ease-in;
}
.sectionhead 
{
  width: 100%;
  overflow: hidden;
  background: white;
  cursor: pointer;
  font-weight: 700;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  
 
  text-align: left;
  font-weight: lighter;
}

.article {
  padding: 1em;
  color: #333;
  line-height: 1.3;
}
/*------------------------------------*\
  #PROFILE - SECTION OPEN
\*------------------------------------*/
.section.open 
{
  button {
    &:before, &:after {
      height: 12px;
    }
    &:before {
      transform: translate(0%, -50%) rotate(-45deg);
      top: 50%;
      left: 58%;
     
    }
    &:after {
      transform: translate(0%, -50%) rotate(45deg);
      top: 67%;
      left: 58%;
    }
  }
  .articlewrap 
  {
    height: auto;
  }
}






.hr
{
  width: 100%;
  height: 1px;
  background-color: #D3D3D3;
}


/*------------------------------------*\
  #PROFILE - PROFILE DETAILS 
\*------------------------------------*/

.accordoin
{
  position: relative;
  top: 20px;
}
.profile_name,.profile_email,.profile_mobilenumber,.profile_address
{
  display: block-line;
  height: 80px;
 
  span 
  {
    display: block;
    color: $ThemeColor;
    font-weight: lighter;
    text-indent: 38px;
    font-size: 0.52em;
  }
  img
  {
    color: $ThemeColor;
    position: absolute;
    z-index: 1;
    
   
       
  }

  input
  {
    padding: 8px;
    display: inline;
    position: absolute;
    border: 0.3px white solid;
    border-bottom-color: #D3D3D3;
    font-weight: 100;
    color: #A7A7A7;
    text-indent: 30px;
    width: 90%;
    font-size: 1.2em;

  }
  textarea
  { padding: 5px;
    display: inline;
    position: absolute;

    border: 1px white solid;
    border-bottom-color: $ThemeColor;
    font-weight: lighter;
    color: gray;
    text-indent: 25px;
    width: 90%;
   
    font-size: 1em;

  }

}
.profile_name
{
  img
  {
    margin-top: 1px;
    left:18px;
  }
 

}.profile_email
{
  img
  {
    margin-top: -24px;
    left:13px;
  }
}
.profile_mobilenumber
{
  img
  {
    margin-top: -18px;
    left:12px;
  }
}
.profile_address
{
  img
  {
    margin-top: 5px;
    left:12px;
  }
  span
  {
    display: block;
    color: $ThemeColor;
    font-weight: lighter;
    text-indent: 1px;
    font-size: 0.52em;
   
  }

}
.display_inline
{
  display: inline;
  
}
.btn,.a
{
  border-radius: 1px;
  background-color: $ThemeColor;
  color: white;
}


.List_picker
{
  margin-top: 55px;
  
  
 
  
  .City,.State,
  {
  
    margin-top: 15px;
    margin-left: 53px;
    text-align: left;
    span
    {
      display: block;
      color: $ThemeColor;
      font-weight: lighter;
      font-size: 0.7em;
       margin-bottom: 5px;
       text-indent: 25px;
       left: -10px;
    }
  
    p.State_head
    {
      font-weight: lighter;
      color:$ThemeColor;
      font-size: 0.7em;
      line-height: 1px;
     
    }
    p.State_value
    {
      font-weight: lighter;
      color: gray;
      margin-top: 10px;
      &:after 
      {
        content:"˅";
       
         padding-left: 10px;
         font-size: 9px;
      } 
    }
   
  
  }
}

.PROOFS
{
  margin-top: 65px;
 
  position: relative;
  p
  {
    
    color: #525252;
    top:-100px;
   
    
  }
 
 
  
  .PAN,.ADTHAR,.PASSPORT
  {
    margin-right: 20px;
    margin-bottom: 10px;
    span
    {
      display: block;
      color: gray;
      font-weight: lighter;
      font-size: 0.7em;
       margin-bottom: 5px;
    }
    p
    {
     
      
      display: inline;
      font-weight: lighter;
      color: gray;
      &:after 
      {
        content:"˅";
       
         padding-left: 10px;
         font-size: 9px;
      }
     
     
    }
   
  
  }
}
.edit
{
  background-color: $ThemeColor;
  padding: 10px 35px;
  color: white;
  border-radius: 2px;
  margin-top: 17px;
  
 
}

.display_inline
{
  display: inline-block;
}


@media only screen and (max-width: 632px) {
  .profile 
  {
    img
    {
      display: block;
      margin: auto;
      width: 40%;

    }
  }
}
@media only screen and (min-width: 631px) {
  .profile 
  { margin-bottom: 20px;
    img
    {
      display: block;
      margin: auto;
      width: 80%;
      margin-bottom: 20px; 
    }
  }
}






/*------------------------------------*\
  #PROFILE - TEXT INPUTS WITH FLOATING LABEL DEMO
\*------------------------------------*/
// Demo styles
form {
  width: 600px;
  margin: 2em auto;
  
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 22px;
  
  legend {
    font-size: 2em;
    margin-bottom: 1em;
    width: 100%;
    border-bottom: &border;
  }
}


// float label

  .control {
    
   
    position: relative;
    width: 100%;
    border-bottom: &border;
   
    


  
   input, textarea {
    display: block;
    width: 60%;
    padding: 10px;
    margin-top: 25px;
    border: 0;
    outline: 0;
   
    border: 0.1px white solid;
    border-bottom-color: #CDC8C8;
    font-weight: lighter;
    color: gray;
    
    // inactive but shown label (exceptions: opacity and top)
    & + label 
    {
      position: absolute;
      top: 5.1px;
      font-size: 20px;
      transition: top 0.7s ease, opacity 0.7s ease, font-size 0.7s ease;
      opacity: 0;
      // Some nice styling
      font-size: &label-font-size;
      font-weight: lighter;
      color: $ThemeColor;
    }
    
    // THE MAGIC
    // as soon as we start typing, the "required" attribute will
    // set the state to valid and our pseudo selector will match
    &:valid + label 
    {
      opacity: 1;
      top: -13px;
      font-size: 10px;
    }
    
    // and we highlight the focused input label
    &:focus + label 
    {
      color: $ThemeColor;
    }

   
  }
  .change
  {
    background-color: $ThemeColor;
    padding: 10px 35px;
    color: white;
    border-radius: 2px;
    margin:17px 0px;
    
   
  }
}
/*------------------------------------*\
  #PROFILE - BankDetails
\*------------------------------------*/



.BankDetails
{

  margin-bottom: 25px;

  p
  {
    color: #9F9C9C;
    font-size: 13px;
  }
.account_name,.account_address,.account_number,.account_Bank,.account_ifsc
{
  display: block-line;
  height: 80px;
 
  span 
  {
    display: block;
    color: $ThemeColor;
    font-weight: lighter;
  
    font-size: 0.6em;
  }
 

  input
  {
    padding: 8px 0px;
    display: inline;
    position: absolute;
    border: 0.3px white solid;
    border-bottom-color: #D3D3D3;
    font-weight: 100;
    height:auto;
    color: #A7A7A7;
    width: 90%;
    font-size: 1.3em;
   
    

  }
  textarea
  {
    display: inline;
    position: absolute;
    border: 0.3px white solid;
    border-bottom-color: #D3D3D3;
    font-weight: lighter;
    color: #A7A7A7;
    width: 90%;
    height: 45px;
    overflow-y: auto;
    word-wrap:break-word;
   
    word-break: break-all;
    font-size: 1.4em;

  }

 

}
.remove,.edit
{
  background-color: $ThemeColor;
  padding: 8px 35px;
  color: white;
  border-radius: 2px;
  margin:15px 4px;
  width: 260px;
  
 
}
}

/*------------------------------------*\
  #PROFILE - AuthenticationSetting
\*------------------------------------*/



.AuthenticationSetting
{

  margin-bottom: 25px;

  p
  {
    margin-top: 20px;
    color: #9F9C9C;
    font-size: 14px;
    font-weight: lighter
  }
  span
  {
    color: #727070;
    font-size: 19px;
    vertical-align: top;
    position: relative;

  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $ThemeColor;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 25px;

  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  
.why2fa
{

  margin: 30px 0px;
  color: #727070;
  ul li
  {
    color: #9F9C9C;
    font-size: 12px;
    margin: 10px 2px;
  }


}
.why2fa1
{

  margin: 30px 0px;
  color: #727070;
  p
  {
    color: #9F9C9C;
    font-size: 12px;
    font-weight: normal;

  }
  

}
.remove,.edit
{
  background-color: $ThemeColor;
  padding: 8px 35px;
  color: white;
  border-radius: 2px;
  margin:15px 4px;
  width: 260px;
  
 
}
}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $ThemeColor;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;

}

.slider.round:before {
  border-radius: 50%;
}


/*------------------------------------*\
  #PROFILE - Notification
\*------------------------------------*/



.Notification
{

  p
  {
    margin-top: 20px;
    margin-bottom: 35px;
    color: #9F9C9C;
    font-size: 14px;
    font-weight: lighter
  }

  .remove,.edit
  {
    background-color: $ThemeColor;
    padding: 8px 35px;
    color: white;
    border-radius: 2px;
    margin:15px 4px;
   
    
  }
  .Manage_notifications
  {

    h6
    {
      margin-top: 65px;
      margin-bottom: 15px;
      color: #9F9C9C;
      font-size: 1.7em;
      font-weight: lighter;
      
    }
    span.items
    {
      
      vertical-align: top;
      min-width: 300px;
      display: inline-block;
      color: $ThemeColor;
      font-size: 0.8em;
      font-weight: lighter;
      margin-bottom: 15px;
    
     
      
    }
    span.switch
    {
      
       vertical-align: top;
       width:65px;
       margin-bottom: 15px;
       
       color: $ThemeColor;
       font-size: 0.8em;
       left: 20px;
       display: inline-block;
      
      
    }
    span.switch1
    {
      
      vertical-align: top;
      margin-right: 45px;
     
      display: inline-block;
      
      
    }
    ul li
    {
      text-indent: -20px;
      list-style-type:none;
     
    }
    ul li span.items
    {
      
      vertical-align: top;
      min-width: 320px;
      display: inline-block;
      color: #9F9C9C;
      font-size: 0.8em;
      font-weight: lighter
      
    }
    ul li label.switch
    {
      
      vertical-align: top;
      
     
      display: inline-block;
      
      
    }
    ul li label.switch1
    {
      
      vertical-align: top;
      margin-right: 55px;
     
      display: inline-block;
      
      
    }
    


  }
  .Logout
  {
    h5
    {
      margin-top: 65px;
      margin-bottom: 0px;
      color: #9F9C9C;
      font-size: 1.7em;
      font-weight: lighter;
    }

  
  }

}




/*------------------------------------*\
  #PROFILE - Notification
\*------------------------------------*/
.WalletSetting
{
  .col-md-6
  {
    
   
    text-align: center;
    .netki ,.AutoSell,.PaperWallet
    {
      margin:  0px auto;
     
      h5
      {
        margin-top: 5px;
        margin-bottom: 10px;
        color: #9F9C9C;
        font-size: 1.9em;
        font-weight: lighter;
      }
      p
      {
        
        max-width: 250px;
        margin:  0px auto;
        color: #9F9C9C;
        font-size: 1.0em;
        font-weight: lighter;
        margin-bottom: 20px;
      }
      img.details
      {
        position: absolute;
        right: 21%;
      }
    }
    margin-bottom: 50px;
    margin-top: 55px;
  }
 

}input.read-more-state {
  display: none;
}
p.read-more-target {
  font-size: 0;
  max-height: 0;
  opacity: 0;
  transition: .25s ease;
}
input.read-more-state:checked ~ div.read-more-wrap p.read-more-target {
  font-size: inherit;
  max-height: 999em;
  opacity: 1;
}
input.read-more-state ~ label.read-more-trigger:before {
  content: 'Read more';
}
input.read-more-state:checked ~ label.read-more-trigger:before {
  content: 'Read less';
}
label.read-more-trigger {
  cursor: pointer;
  display: inline-block;
}