@charset "UTF-8";
/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 */
/*------------------------------------*\
  #SETTINGS  Global - variables
\*------------------------------------*/
/*------------------------------------*\
  #SETTINGS  Box-sizing
\*------------------------------------*/
* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

/*------------------------------------*\
  #PROFILE - HEADER
\*------------------------------------*/
.ProfileHeader {
  height: 85px;
  background-color: #00bdbd;
  text-align: left;
  padding-top: 9px;
  font-weight: lighter; }
  .ProfileHeader .ProfileHeaderLink {
    color: white;
    font-size: 10px; }
  .ProfileHeader .ProfileHeaderString {
    color: white;
    font-size: 30px; }

/*------------------------------------*\
  #PROFILE - SECTION HEADER
\*------------------------------------*/
.section {
  position: relative;
  width: 100%;
  border-bottom: 5px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white; }
  .section button {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    height: 3em;
    width: 3em;
    outline: 0;
    border: 0;
    background: none;
    text-indent: -9999%;
    pointer-events: none; }
    .section button:before {
      content: '1';
      display: block;
      position: absolute;
      height: 12px;
      width: 1px;
      border-radius: 1em;
      background: grey;
      transform-origin: 50%;
      top: 55%;
      left: 52%;
      transition: all .25s ease-in-out;
      transform: translate(75%, -50%) rotate(45deg); }
    .section button:after {
      content: "";
      display: block;
      position: absolute;
      height: 12px;
      width: 1px;
      border-radius: .1em;
      background: grey;
      transform-origin: 50%;
      top: 55%;
      left: 39%;
      transition: all .25s ease-in-out;
      transform: translate(-75%, -50%) rotate(-45deg); }

.articlewrap {
  height: 0;
  overflow: hidden;
  transition: all 10s ease-in; }

.sectionhead {
  width: 100%;
  overflow: hidden;
  background: white;
  cursor: pointer;
  font-weight: 700;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  font-weight: lighter; }

.article {
  padding: 1em;
  color: #333;
  line-height: 1.3; }

/*------------------------------------*\
  #PROFILE - SECTION OPEN
\*------------------------------------*/
.section.open button:before, .section.open button:after {
  height: 12px; }
.section.open button:before {
  transform: translate(0%, -50%) rotate(-45deg);
  top: 50%;
  left: 58%; }
.section.open button:after {
  transform: translate(0%, -50%) rotate(45deg);
  top: 67%;
  left: 58%; }
.section.open .articlewrap {
  height: auto; }

.hr {
  width: 100%;
  height: 1px;
  background-color: #D3D3D3; }

/*------------------------------------*\
  #PROFILE - PROFILE DETAILS 
\*------------------------------------*/
.accordoin {
  position: relative;
  top: 20px; }

.profile_name, .profile_email, .profile_mobilenumber, .profile_address {
  display: block-line;
  height: 80px; }
  .profile_name span, .profile_email span, .profile_mobilenumber span, .profile_address span {
    display: block;
    color: #00bdbd;
    font-weight: lighter;
    text-indent: 38px;
    font-size: 0.52em; }
  .profile_name img, .profile_email img, .profile_mobilenumber img, .profile_address img {
    color: #00bdbd;
    position: absolute;
    z-index: 1; }
  .profile_name input, .profile_email input, .profile_mobilenumber input, .profile_address input {
    padding: 8px;
    display: inline;
    position: absolute;
    border: 0.3px white solid;
    border-bottom-color: #D3D3D3;
    font-weight: 100;
    color: #A7A7A7;
    text-indent: 30px;
    width: 90%;
    font-size: 1.2em; }
  .profile_name textarea, .profile_email textarea, .profile_mobilenumber textarea, .profile_address textarea {
    padding: 5px;
    display: inline;
    position: absolute;
    border: 1px white solid;
    border-bottom-color: #00bdbd;
    font-weight: lighter;
    color: gray;
    text-indent: 25px;
    width: 90%;
    maxHeight: 30px;
    font-size: 1em; }

.profile_name img {
  margin-top: 1px;
  left: 18px; }

.profile_email img {
  margin-top: -24px;
  left: 13px; }

.profile_mobilenumber img {
  margin-top: -18px;
  left: 12px; }

.profile_address img {
  margin-top: 5px;
  left: 12px; }
.profile_address span {
  display: block;
  color: #00bdbd;
  font-weight: lighter;
  text-indent: 1px;
  font-size: 0.52em; }

.display_inline {
  display: inline; }

.btn, .a {
  border-radius: 1px;
  background-color: #00bdbd;
  color: white; }

.List_picker {
  margin-top: 55px; }
  .List_picker .City, .List_picker .State {
    margin-top: 15px;
    margin-left: 53px;
    text-align: left; }
    .List_picker .City span, .List_picker .State span {
      display: block;
      color: #00bdbd;
      font-weight: lighter;
      font-size: 0.7em;
      margin-bottom: 5px;
      text-indent: 25px;
      left: -10px; }
    .List_picker .City p.State_head, .List_picker .State p.State_head {
      font-weight: lighter;
      color: #00bdbd;
      font-size: 0.7em;
      line-height: 1px; }
    .List_picker .City p.State_value, .List_picker .State p.State_value {
      font-weight: lighter;
      color: gray;
      margin-top: 10px; }
      .List_picker .City p.State_value:after, .List_picker .State p.State_value:after {
        content: "˅";
        padding-left: 10px;
        font-size: 9px; }

.PROOFS {
  margin-top: 65px;
  position: relative; }
  .PROOFS p {
    color: #525252;
    top: -100px; }
  .PROOFS .PAN, .PROOFS .ADTHAR, .PROOFS .PASSPORT {
    margin-right: 20px;
    margin-bottom: 10px; }
    .PROOFS .PAN span, .PROOFS .ADTHAR span, .PROOFS .PASSPORT span {
      display: block;
      color: gray;
      font-weight: lighter;
      font-size: 0.7em;
      margin-bottom: 5px; }
    .PROOFS .PAN p, .PROOFS .ADTHAR p, .PROOFS .PASSPORT p {
      display: inline;
      font-weight: lighter;
      color: gray; }
      .PROOFS .PAN p:after, .PROOFS .ADTHAR p:after, .PROOFS .PASSPORT p:after {
        content: "˅";
        padding-left: 10px;
        font-size: 9px; }

.edit {
  background-color: #00bdbd;
  padding: 10px 35px;
  color: white;
  border-radius: 2px;
  margin-top: 17px; }

.display_inline {
  display: inline-block; }

@media only screen and (max-width: 632px) {
  .profile img {
    display: block;
    margin: auto;
    width: 40%; } }
@media only screen and (min-width: 631px) {
  .profile {
    margin-bottom: 20px; }
    .profile img {
      display: block;
      margin: auto;
      width: 80%;
      margin-bottom: 20px; } }
/*------------------------------------*\
  #PROFILE - TEXT INPUTS WITH FLOATING LABEL DEMO
\*------------------------------------*/
form {
  width: 600px;
  margin: 2em auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 22px; }
  form legend {
    font-size: 2em;
    margin-bottom: 1em;
    width: 100%;
    border-bottom: form legend border; }

.control {
  position: relative;
  width: 100%;
  border-bottom: .control border; }
  .control input, .control textarea {
    display: block;
    width: 60%;
    padding: 10px;
    margin-top: 25px;
    border: 0;
    outline: 0;
    border: 0.1px white solid;
    border-bottom-color: #CDC8C8;
    font-weight: lighter;
    color: gray; }
    .control input + label, .control textarea + label {
      position: absolute;
      top: 5.1px;
      font-size: 20px;
      transition: top 0.7s ease, opacity 0.7s ease, font-size 0.7s ease;
      opacity: 0;
      font-size: .control input + label, .control textarea + label label-font-size;
      font-weight: lighter;
      color: #00bdbd; }
    .control input:valid + label, .control textarea:valid + label {
      opacity: 1;
      top: -13px;
      font-size: 10px; }
    .control input:focus + label, .control textarea:focus + label {
      color: #00bdbd; }
  .control .change {
    background-color: #00bdbd;
    padding: 10px 35px;
    color: white;
    border-radius: 2px;
    margin: 17px 0px; }

/*------------------------------------*\
  #PROFILE - BankDetails
\*------------------------------------*/
.BankDetails {
  margin-bottom: 25px; }
  .BankDetails p {
    color: #9F9C9C;
    font-size: 13px; }
  .BankDetails .account_name, .BankDetails .account_address, .BankDetails .account_number, .BankDetails .account_Bank, .BankDetails .account_ifsc {
    display: block-line;
    height: 80px; }
    .BankDetails .account_name span, .BankDetails .account_address span, .BankDetails .account_number span, .BankDetails .account_Bank span, .BankDetails .account_ifsc span {
      display: block;
      color: #00bdbd;
      font-weight: lighter;
      font-size: 0.6em; }
    .BankDetails .account_name input, .BankDetails .account_address input, .BankDetails .account_number input, .BankDetails .account_Bank input, .BankDetails .account_ifsc input {
      padding: 8px 0px;
      display: inline;
      position: absolute;
      border: 0.3px white solid;
      border-bottom-color: #D3D3D3;
      font-weight: 100;
      height: auto;
      color: #A7A7A7;
      width: 90%;
      font-size: 1.4em; }
    .BankDetails .account_name textarea, .BankDetails .account_address textarea, .BankDetails .account_number textarea, .BankDetails .account_Bank textarea, .BankDetails .account_ifsc textarea {
      display: inline;
      position: absolute;
      border: 0.3px white solid;
      border-bottom-color: #D3D3D3;
      font-weight: lighter;
      color: #A7A7A7;
      width: 90%;
      height: 45px;
      overflow-y: auto;
      word-wrap: break-word;
      word-break: break-all;
      font-size: 1.4em; }
  .BankDetails .remove, .BankDetails .edit {
    background-color: #00bdbd;
    padding: 8px 35px;
    color: white;
    border-radius: 2px;
    margin: 15px 4px;
    width: 260px; }

/*------------------------------------*\
  #PROFILE - AuthenticationSetting
\*------------------------------------*/
.AuthenticationSetting {
  margin-bottom: 25px;
  /* Rounded sliders */ }
  .AuthenticationSetting p {
    margin-top: 20px;
    color: #9F9C9C;
    font-size: 14px;
    font-weight: lighter; }
  .AuthenticationSetting span {
    color: #727070;
    font-size: 19px;
    vertical-align: top;
    position: relative; }
  .AuthenticationSetting .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px; }
  .AuthenticationSetting .switch input {
    display: none; }
  .AuthenticationSetting .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  .AuthenticationSetting .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  .AuthenticationSetting input:checked + .slider {
    background-color: #00bdbd; }
  .AuthenticationSetting input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; }
  .AuthenticationSetting input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }
  .AuthenticationSetting .slider.round {
    border-radius: 25px; }
  .AuthenticationSetting .slider.round:before {
    border-radius: 50%; }
  .AuthenticationSetting .why2fa {
    margin: 30px 0px;
    color: #727070; }
    .AuthenticationSetting .why2fa ul li {
      color: #9F9C9C;
      font-size: 12px;
      margin: 10px 2px; }
  .AuthenticationSetting .why2fa1 {
    margin: 30px 0px;
    color: #727070; }
    .AuthenticationSetting .why2fa1 p {
      color: #9F9C9C;
      font-size: 12px;
      font-weight: normal; }
  .AuthenticationSetting .remove, .AuthenticationSetting .edit {
    background-color: #00bdbd;
    padding: 8px 35px;
    color: white;
    border-radius: 2px;
    margin: 15px 4px;
    width: 260px; }

/*# sourceMappingURL=style.css.map */
